@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

html,
body {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}
#laravel {
  display: flex;
}
nav ul {
  position: absolute;
  right: 0;
}

.container-fluid {
  height: 100%;
  width: 100%;
  padding: 0;
}

#home .card-deck {
  width: 100%;
  min-height: 80vh;
}
#home .card-deck .card {
  width: 100%;
  height: 100%;
}

#home .card #carouselId {
  width: 100%;
  min-height: 70vh;
}
#home .card #carouselId img {
  display: block;
  height: 70vh;
  width: 100%;
}
.card-header {
  font-size: 22px;
  font-weight: 500px;
}
.row {
  margin-bottom: 40px;
}

blockquote .desc {
  font-size: 17px;
}

#home .farmerProfilePic {
  width: 115px;
  height: 115px;
  border-radius: 50%;
  background-color: var(--success);
  margin: 0 auto;
  margin-top: -57.5px;
}

#home .farmerProfilePic img {
  display: block;
  height: 100%;
  width: 100%;
}
#home .card-deck .card .card-title {
  font-size: xx-large;
  font-weight: 600;
  margin-top: 60px;
}

.owl-carousel {
  height: 200px;
}

.select-category {
  height: 100%;
  position: absolute;
  background-color: green;
  width: 300px;
  z-index: 10;
  margin-left: -300px;
}

.filter {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.button-filter-card {
  width: 100%;
  overflow-x: scroll;
}

#location .card {
  height: 300px;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  left: 50%;
  transform: translate(-50%);
}
.inner-owl-carousel {
  height: 200px;
  margin-right: 10px;
  object-fit: cover;
  background-color: #000;
}

.inner-owl-carousel .video-desc {
  height: 100%;
  width: 100%;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  background-position: center !important;
  font-size: 60px;
  font-weight: bolder;
  color: var(--success);
  position: absolute;
  margin-top: -150px;
}
.owl-carousel .owl-nav button.owl-prev {
  left: 0;
}

.mySwiper {
  display: flex;
  justify-content: space-around;
}
.swiper-button-next {
  margin-right: -14px;
}
.swiper-button-prev {
  margin-left: -14px;
}

.button-wrapper {
  display: flex;
  justify-content: space-around;
}

.category-display {
  text-align: center;
  display: grid;
  place-items: center;
  user-select: none;
  text-transform: capitalize;
  color: #fff;
  background-color: var(--success);
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}
.category-display-pre {
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide .btn {
  min-width: 100px;
}


.owl-carousel .owl-nav button.owl-next {
  right: 5px;
}
#product-card .swiper-pagination {
  margin-bottom: -15px;
}

@media screen and (max-width: 600px) {
  nav ul {
    position: relative;
    /* right:0; */
  }
}

@media screen and (max-width: 500px) {

  #home .card #carouselId {
    width: 100%;
    min-height: 50vh;
  }
  #home .card #carouselId img {
    display: block;
    height: 50vh;
    width: 100%;
  }
 
  .table-wrapper {
    width: 100%;
    overflow-x: scroll;
  }
  .table-wrapper .table {
    width: 1000px;
  }

 
}
