@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

body,
html {
  scroll-behavior: smooth;
  /* font-family: 'Merriweather', serif; */
}


html{
  height:100%;
  overflow:hidden;
}

body{
  margin:0;
  padding:0;
  /* perspective:1px;
  transform-style:preserve-3d; */
  overflow-x:hidden;
  overflow-y:scroll;
}

#row, .first-section{
  /* margin-top:100px; */
  box-sizing:border-box;
  min-height:100vh;
   transform-style:inherit;
   width:100%;
}

.first-section, .first-section:before{
  background:50% 50% /cover;

}

.first-section::before{
  content:'';
  position:absolute;
  left:0;
  bottom:0;
  right:0;
  top:0;
  transform:translateZ(-1px) scale(2);
  /* background:#fff; */
  background-image:url(https://images.unsplash.com/photo-1558008749-736d955a1e55?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
  background-size:cover;
  min-height:100vh;
  z-index:-1;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}


.swiper {
  width: 100%;
}
.swiper-slide {
  height: 300px;
  padding:5px;
  
}



.swiper-slide .card{
  height:100%;
  border:1px solid var(--success);


}
.swiper-slide .card .card-img-wrapper{
  overflow:hidden;
  object-fit: cover;
  object-position: center;
  width:80%;
  margin:0 auto;
}
.swiper-slide .card .card-img-top{
  width:100%;
  display:block;
  margin:0 auto;
  transition:transform 0.6s;
}

.swiper-slide .card .card-img-top:hover{
  transform:scale(1.2);
}

.classic-header{
  padding:15px 0;
  margin-bottom:20px;
  color:var(--white);
}
.classic-header::before{
content:'';
position:absolute;
background:var(--success);
bottom:0;
width:90%;
height:3px;
left:50%;
transform:translate(-50%);

}

.start-img-wrapper::after{
  content:'';
  position: absolute;
  height:80%;
  width:80%;
  left:50%;
  transform:translateX(-50%);
  top:70%;
  background-color:red;
}

