@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

body,
html {
  scroll-behavior: smooth;
  /* font-family: 'Merriweather', serif; */
}

#navigation .navbar-nav {
  display: grid;
  grid-template-columns: 15% 65% 20%;
  place-items: center;
  
}

.search-bar{
  width:400px !important;
}

.search-btn{
  right:9px;
  background-color:#fff;
}

.first-section{
  margin-top:100px;
}
#navigation{
  position:fixed;
  width:100%;
  z-index:100;
  top:0;
}
.swiper {
  width: 100%;
}
.swiper-slide {
  height: 300px;
  padding:5px;
  
}

.inner-container{
  position:fixed;
}

.main-container-row{
  position:absolute;
  right:0;
}

.inner-container-wrapper{
    height:90vh;
    overflow-y:scroll;
    width:100%;
}

.inner-container-wrapper::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.inner-container-wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.inner-container-wrapper::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Handle on hover */
.inner-container-wrapper::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

.inner-container-wrapper .table{
  width:100%;
  padding:0;

}

.swiper-slide .card{
  height:100%;
  border:1px solid var(--success);


}
.swiper-slide .card .card-img-wrapper{
  overflow:hidden;
  object-fit: cover;
  object-position: center;
  width:80%;
  margin:0 auto;
}
.swiper-slide .card .card-img-top{
  width:100%;
  display:block;
  margin:0 auto;
  transition:transform 0.6s;
}

.swiper-slide .card .card-img-top:hover{
  transform:scale(1.2);
}

.classic-header{
  padding:15px 0;
  margin-bottom:20px;
}
.classic-header::before{
content:'';
position:absolute;
background:var(--success);
bottom:0;
width:90%;
height:3px;
left:50%;
transform:translate(-50%);
}

.swiper-button-next{

  margin-right:-300px;
}

.swiper-wrapper{
  background-color:var(--success);
}