* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

body {
  height: 100vh;
  width: 100%;
}
.container-fluid {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-to-list-container {
  width: 130px;
}
.add-to-list-wrapper {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto;
  align-items: center;
  width: 100%;
}

.add-to {
  position: absolute;
  
  width: 100%;
  z-index: 10;
  /* display: none; */
}

.plus {
  padding: 15px;
  display: inline;
}

.plus::before {
  content: "+";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: bolder;
}

.minus {
  padding: 15px;
  display: inline;
}

.minus::before {
  content: "-";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: bolder;
}

.counter-content {
  width: 40px;
  display: inline;
  height: 100%;
}
