@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

html,
body {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}
#laravel {
  display: flex;
  background-color:var(--success) !important;
  
  opacity:0.8;
  border-bottom: none;
	padding: 10px 5px;
	transition-duration: 0.6s !important;
}

#laravel a{
  color:#fff !important;
}
.navbar-scroll {
	background: #ffffff !important;
	padding: 0 !important;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4) !important;
	transition-duration: 0.6s !important;
}
nav ul {
  position: absolute;
  right: 0;
}

.container-fluid {
  height: 100%;
  width: 100%;
  padding: 0;
}

#home .card-deck {
  width: 100%;
  min-height: 80vh;
}
#home .card-deck .card {
  width: 100%;
  height: 100%;
  border:1px solid var(--success);
}

#home .card #carouselId {
  width: 100%;
  min-height: 80vh;
}
#home .card #carouselId img {
  display: block;
  height: 80vh;
  width: 100%;
}
.card-header {
  font-size: 22px;
  font-weight: 500px;
}
.row {
  margin-bottom: 40px;
}

blockquote .desc {
  font-size: 17px;
}

#home .farmerProfilePic {
  width: 115px;
  height: 115px;
  border-radius: 50%;
  background-color: var(--success);
  margin: 0 auto;
  margin-top: -57.5px;
}

#home .farmerProfilePic img {
  display: block;
  height: 100%;
  width: 100%;
}
#home .card-deck .card .card-title {
  font-size: xx-large;
  font-weight: 600;
  margin-top: 60px;
}


.select-category {
  height: 100%;
  position: absolute;
  background-color: green;
  width: 300px;
  z-index: 10;
  margin-left: -300px;
}

.filter {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.button-filter-card {
  width: 100%;
  overflow-x: scroll;
}

#location .card {
  height: 300px;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  left: 50%;
  transform: translate(-50%);
}
.mySwiper {
  display: flex;
  justify-content: space-around;
}
.swiper-button-next {
  margin-right: -14px;
}
.swiper-button-prev {
  margin-left: -14px;
}

.button-wrapper {
  display: flex;
  justify-content: space-around;
  align-items:center;
}

.button-wrapper .fa{
  transform: scale(1.2);
}

.button-wrapper .fa:hover{
  color:var(--success);
}

.category-display-pre, .category-display-nxt{
  color:var(--success);
}
.category-display{
  font-size:40px;
  /* background-color:red; */
}

.swiper {
  width: 100%;
  height: 100%;
}

.button-filter .swiper-slide .btn {
  min-width: 100px;
}



#product-card .swiper-pagination {
  margin-bottom: -15px;
}

.add-to-list{
  display:grid;
  grid-template-columns: 30px 50px 30px;
  justify-content:center;
  align-items:center;
}
.overlay-add-btn{
  position:absolute;
  width:120px;
  left:50%;
  transform:translateX(-50%);
  z-index:10;
  display:inline-block;
}
.add-to {
  position: absolute;
  
  width: 100%;
  z-index: 10;
  /* display: none; */
}

.btn:focus{

  outline:none !important;
}
#home #carouselId{
  overflow: hidden;
}




.fa, .fas{
  padding: 15px;
  font-size: 20px;
    text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius:50%;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  padding-left:20px;
  padding-right:20px;
}
.fa:hover, .fas:hover {
  color:white;
  text-decoration: none;
  opacity: 0.7;
}

.fa-phone{
  background: #125688;
  color: white;
}
.fa-mail-bulk{
  background: #bb0000;
  color: white;
}

.swiper-video{
  height:250px;
  user-select: none;
}
.swiper-video .swiper-slide{
  display:flex;
  justify-content:center;
  align-items:center;
  border:1px solid var(--success);
  background-color:#000;
  padding:0px 10px;
  border-radius:8px;
}
.farmer-video-controls .fa:hover{

  color:var(--success);
  user-select:none;
}
/* the beginning */

.swiper-review{
  height:310px;
  display:flex;
  padding:5px;
  
}
.swiper-review .swiper-slide{
  border:2px solid var(--success);
  padding:5px;
  width:280px !important;

}

.swiper-review .swiper-slide .card{
  width:100%;
  margin:0 auto;
  height:100%;

}

/* the end */


* {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

*:before, *:after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

.clearfix {
  clear:both;
}

.text-center {text-align:center;}

a {
  color: tomato;
  text-decoration: none;
}

a:hover {
  color: #2196f3;
}

pre {
display: block;
padding: 9.5px;
margin: 0 0 10px;
font-size: 13px;
line-height: 1.42857143;
color: #333;
word-break: break-all;
word-wrap: break-word;
background-color: #F5F5F5;
border: 1px solid #CCC;
border-radius: 4px;
}





/* Rating Star Widgets Style */
.rating-stars ul {
  list-style-type:none;
  padding:0;
  
  -moz-user-select:none;
  -webkit-user-select:none;
}
.rating-stars ul > li.star {
  display:inline-block;
  
}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
  font-size:2.5em; /* Change the size of the stars */
  color:#ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
  color:#FFCC36;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
  color:#FF912C;
}
.rating-widget{
  width:200px;
  padding:0;
  margin:0 auto;
  background:black;
  height:0px;
}

.rating-stars{
  margin:0 auto;
  width:220%;
  transform: scale(0.3);
  margin-left:-120px;
  margin-top:-20px;

}
.swiper-review .swiper-slide .card .card-body{
display:grid;
grid-template-rows:auto auto;
}

.swiper-review .swiper-slide .card{
  padding:2px;
}
.review-content{
  font-size:12px;
  margin-top:30px;
  /* background:var(--success); */
  /* color:#fff; */
  border-radius:5px;
}
.review-author{
  font-size:10px;
  color:#CCC;
}
.review-pic{
  height:100px;
  width:100px;
}

.review-comment-rating{
  /* background-color: red; */
  display:flex;
  justify-content:flex-start;
}
.review-comment-rating .rating-widget{
  height:80px;
  background-color:transparent;
  margin-left:50px;
  margin-top:-60px;
}

.review-comment-rating .rating-stars{
  /* background:green; */
  position:relative;
  transform:scale(0.5);

 
}
@media screen and (max-width: 600px) {
  nav ul {
    position: relative;
    /* right:0; */
  }
}

@media screen and (max-width: 500px) {

  #home .card #carouselId {
    width: 100%;
    min-height: 40vh;
  }
  #home .card #carouselId img {
    display: block;
    height: 40vh;
    width: 100%;
  }
 
  .table-wrapper {
    width: 100%;
    overflow-x: scroll;
  }
  .table-wrapper .table {
    width: 1000px;
  }
  .carousel-control-prev{
    margin-left:0%;
   }
   .carousel-control-next{
     margin-right:0%;
   }
 
}
